

@{
    ViewBag.Title = "Users Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Users In Role @ViewBag.rolename</h2>



<table class="table">
    <thead>
        <tr>
            <th>S.No</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @{int index = 1;}
        @foreach (var user in (string[])ViewBag.users)
        {
            <tr>
                <td>@index</td>
                <td>@user</td>
                <td>
                    <a href="@Url.Action("UserDetails", new { username = user})">Detials</a> | <a href="@Url.Action("RemoveUserFromRole", new { username = user, role = ViewBag.rolename })">Remove</a>
                </td>
            </tr>
            index++;
        }

    </tbody>
</table>