@model phaBalloting.Data.Member

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<style>
    #customers {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(odd) {
            background-color: #27ae31;
            color: #fff;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #0f5e0e;
            color: white;
        }
</style>



<h2>Details</h2>

<div>
    <h4>Member</h4>
    <hr />

    <center>
    <table id="customers" style="width:50%;">

        <tbody>
            <tr>
                <th> @Html.DisplayName("Old M Form No")</th>
                <td>@Html.DisplayFor(model => model.OldMFormNo)</td>

            </tr>
            <tr>
                <th> @Html.DisplayName("Name of Officer")</th>
                <td>@Html.DisplayFor(model => model.NameOfOfficer)</td>

            </tr>
            <tr>
                <th>@Html.DisplayName("Father Name")</th>
                <td>@Html.DisplayFor(model => model.FatherName)</td>

            </tr>
            <tr>
                <th>Husband Name</th>
                <td>@Html.DisplayFor(model => model.HusbandName)</td>

            </tr>
            <tr>
                <th>CNIC</th>
                <td>@Html.DisplayFor(model => model.Cnic)</td>

            </tr>
            <tr>
                <th>Office Name</th>
                <td>@Html.DisplayFor(model => model.OfficeName)</td>

            </tr>
            <tr>
                <th>Office Status</th>
                <td>@Html.DisplayFor(model => model.OfficeStatus)</td>

            </tr>
            <tr>
                <th> Date of joining</th>
                <td>@Html.DisplayFor(model => model.DateOfJoiningService)</td>

            </tr>
            <tr>
                <th>Post held</th>
                <td>@Html.DisplayFor(model => model.BPSList.BPS)</td>

            </tr>
            <tr>
                <th>Occutional group</th>
                <td>@Html.DisplayFor(model => model.OccutionalGroup)</td>
            </tr>

            <tr>
                <th>Date of birth</th>
                <td>@Html.DisplayFor(model => model.DateOfBirth)</td>
            </tr>
            <tr>
                <th>Office Address</th>
                <td>@Html.DisplayFor(model => model.OfficeAddress)</td>
            </tr>
            <tr>
                <th>Permanent Address</th>
                <td>@Html.DisplayFor(model => model.PermanentAddress)</td>
            </tr>
            <tr>
                <th>Home Tel No</th>
                <td>@Html.DisplayFor(model => model.HomeTelephone)</td>
            </tr>
            <tr>
                <th>Email Address</th>
                <td>@Html.DisplayFor(model => model.EmailAddress)</td>
            </tr>
            <tr>
                <th>Image Url</th>
                <td>@Html.DisplayFor(model => model.ImageUrl)</td>
            </tr>

            <tr>
                <th>Office Tel No</th>
                <td>@Html.DisplayFor(model => model.OfficeTelephone)</td>
            </tr>
            <tr>
                <th>Mobile No</th>
                <td> @Html.DisplayFor(model => model.Mobile)</td>
            </tr>
           
        </tbody>
    </table>
        </center>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
