@model phaBalloting.Data.Member

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Member</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Old M Form No")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OldMFormNo)
        </dd>

        <dt>
            @Html.DisplayName("Name of Officer")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameOfOfficer)
        </dd>

        <dt>
            @Html.DisplayName("Father Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FatherName)
        </dd>

        <dt>
            @Html.DisplayName("Husband Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HusbandName)
        </dd>

        <dt>
            @Html.DisplayName("CNIC")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cnic)
        </dd>

        <dt>
            @Html.DisplayName("Office Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfficeName)
        </dd>

        <dt>
            @Html.DisplayName("Office Status")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfficeStatus)
        </dd>

        <dt>
            @Html.DisplayName("Date of Joining")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfJoiningService)
        </dd>

        <dt>
            @Html.DisplayName("Post Held")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostHeld)
        </dd>

        <dt>
            @Html.DisplayName("Occutional Group")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OccutionalGroup)
        </dd>

        <dt>
            @Html.DisplayName("Date of Birth")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayName("Office Address")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfficeAddress)
        </dd>

        <dt>
            @Html.DisplayName("Permanent Address")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PermanentAddress)
        </dd>

        <dt>
            @Html.DisplayName("Home Telephone")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeTelephone)
        </dd>

        <dt>
            @Html.DisplayName("Email Address")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>

        <dt>
            @Html.DisplayName("Image Url")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>

        <dt>
            @Html.DisplayName("Office Telephone")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfficeTelephone)
        </dd>

        <dt>
            @Html.DisplayName("Mobile #")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mobile)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
