@model phaBalloting.Data.AttributeDataType

@{
    ViewBag.Title = "Details";
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }

}

<style>
    #customers {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(odd) {
            background-color: #27ae31;
            color: #fff;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #0f5e0e;
            color: white;
        }
</style>

<h2>Details</h2>

<div>
    <h4>UnitDataType</h4>
    <hr />
    <center>
        <table id="customers">
            <tr>
                <th>
                    @Html.DisplayName("Data Type Name")
                </th>
                <td>
                    @Html.DisplayFor(model => model.DataTypeName)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayName("Data Type")
                </th>

                <td>
                    @Html.DisplayFor(model => model.DataType)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayName("Description")
                </th>

                <td>
                    @Html.DisplayFor(model => model.Description)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayName("User Id")
                </th>

                <td>
                    @Html.DisplayFor(model => model.UserId)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayName("Entry Date")
                </th>

                <td>
                    @Html.DisplayFor(model => model.EntryDate)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayName("Modified By")
                </th>

                <td>
                    @Html.DisplayFor(model => model.ModifiedBy)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayName("Modified Date")
                </th>

                <td>
                    @Html.DisplayFor(model => model.ModifiedDate)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayName("IsActive")
                </th>

                <td>
                    @Html.DisplayFor(model => model.IsActive)
                </td>
            </tr>
        </table>
    </center>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
